<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>NOTE ZIPPER</h1>
    <hr>
    <form method="POST" action="/notes">
        <input type="text" placeholder="Title" name="name">
        <br><br>
        <textarea name="note" cols="30" rows="10" placeholder="Enter your note here..."></textarea>
        <br><br>
        <button>Save Note</button>
    </form>
</body>
</html>